<body>
    <form class="form-signin">
        <div class="text-center mb-4 ">
            <img class="mb-4 " src="/docs/4.5/assets/brand/bootstrap-solid.svg " alt=" " width="72 " height="72 ">
            <h1 class="h3 mb-3 font-weight-normal ">menagerepro</h1>
        </div>
        <div class="form-label-group ">
            <label for="inputEmail ">Email</label>
            <input type="email " id="inputEmail " class="form-control " placeholder="Email address " required autofocus>
        </div>
        <div class="form-label-group ">
            <label for="inputPassword ">Mot passe</label>
            <input type="password " id="inputPassword " class="form-control " placeholder="Password " required>
        </div>
        <br>
        <button class="btn btn-lg btn-primary btn-block " type="submit" style=" margin-bottom: 1rem!important;">Connexion</button>
        <br>
        <button class="btn btn-lg btn-warning btn-block " type="submit" style=" margin-bottom: 1rem!important;"><a href="/compte">Créer compte</a></button>
    </form>
</body>
<app-footer></app-footer>
